.bookdetail {
    height: 300px;
}
.detailtext {
    height: 200px;
}
.detailtext > .title {
    text-align: center;
}
.textcontainer {
    text-align: left;
}

.comment-form input {
    width: 80%;
}

.comment_title {
    text-align: right;
}
