.container {
    text-align: center;
}

.entryform {
    display: flex;
    justify-content: center;
    align-items: center;
}
.entryform > input {
    width: 100%;
    box-sizing: border-box;
}

.entryform > .published {
    width: 100%;
}

.imgtitle {
    padding: 35px;
}

.img {
    height: 100px;
}
